main{
    min-height: 80vh;
    
}

a{
    text-decoration:none;
 }
 a:hover
 {
     text-decoration: underline;
     color:brown
 }
 h3
 {
     padding: 1rem;
 }


 .rating span{
     margin: 0.1 rem;
 }
 
 .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.6);
}

.navbar-light .navbar-brand   {
    color: #850202;

}